
.item-img img{
    width: 800px;
}

.item-name {
    font-size: 30px;
    font-weight: bold;
} 

.item-price{
    font-weight: bolder;
    font-size: 20px;
}
.item-details{
    font-size: 20px;
    opacity: .7;
}

.col{
    position: relative;
    top: -500px;
    left: 800px;
    width: 400px;
    height: 0vh;
}

.add-cart-btn button{
    color: rgb(70, 70, 70);
    background-color: rgb(232, 237, 255);
    border: blue;
    padding: 5px;
    font-size: 20px;
    width: 350px;
    box-shadow: 3px 3px 10px grey;
    cursor: pointer;
    
}
.add-cart-btn button:hover{
    opacity: .8;
}


@media screen and (max-width: 414px){

    .item-img img{
        width: 350px;
    }

    .item-name {
        font-size: 25px;
        font-weight: bold;
        margin-top: -5px;
    } 

    .item-price{
        font-weight: bolder;
        font-size: 18px;
        margin-top: -10px;
    }
    .item-details{
        font-size: 14px;
        opacity: .7;
    }

    .col{
        position: relative;
        top: 5px;
        left: 50px;
        width: 250px;
        height: 40vh;
    }

    .add-cart-btn button{
        color: rgb(70, 70, 70);
        background-color: rgb(232, 237, 255);
        border: blue;
        padding: 2px;
        font-size: 16px;
        width: 180px;
        box-shadow: 3px 3px 10px grey;
        cursor: pointer;
        
    }
    .add-cart-btn button:hover{
        opacity: .8;
    }
}